@model HRIS_Sample.Models.department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location.street_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location.street_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.department_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
